{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}
{% load crispy_forms_tags %}
{% block extrastyle %}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/template-web.js"></script>
    <script src="/static/js/barcodesystem/bc_formula/bc_formula_update.js"></script>
    <link rel="stylesheet" href="/static/css/formula.css">
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block nav_title %}{% if model_icon %}<i class="{{model_icon}}"><sub class="fa fa-{% if add%}plus{%else%}pencil{%endif%}"></sub></i> {% endif %}
{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <input type="hidden" name="pb_bh" id="pb_bh" value="{{ object_id }}">
    <form class="form-horizontal" method="post" action="/formula/save_formula" id="form_submit">
    </form>
    <script id="pb" type="text/template">
        {%csrf_token%}
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">配方编号<span class="" style="color: red">*</span></label>
            <div class="col-sm-4 form-box">
                <input type="text" class="form-control" name="pbbh" id="pbbh" value="<%- pbbh %>" autocomplete="off">
                <span class="tips"></span>
            </div>
            <label class="col-sm-2 control-label">配方名称<span class="" style="color: red">*</span></label>
            <div class="col-sm-4 form-box">
                <input type="text" class="form-control" name="pbname" id="pbname" value="<%- pbname %>">
                <span class="tips"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">配方类型</label>
            <div class="col-sm-4 form-box">
                <select class="form-control" name="pftype" id="pftype">
                    <% if (pftype == '1')
                        { %> <option value="1">标准配方</option>
                             <option value="2">比例配方</option> <% }
                    else
                        { %> <option value="2">比例配方</option>
                             <option value="1">标准配方</option> <% }
                    %>
                </select>
            </div>
            <label class="col-sm-2 control-label">生产顺序<span class="" style="color: red">*</span></label>
            <div class="col-sm-4 form-box">
                <input type="number" class="form-control" name="scsx" id="scsx" value="<%- scsx %>">
                <span class="tips"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">生产线<span class="" style="color: red">*</span></label>
            <div class="col-sm-4 form-box">
                <input type="number" class="form-control" name="scxh" id="scxh" value="<%- scxh %>">
                <span class="tips"></span>
            </div>
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-4 form-box">
                <input type="text" class="form-control" name="bz" id="bz" value="<%- bz %>">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <label class="control-label">
                    <% if (yx)
                            { %> <input type="checkbox" name="yx" checked="checked" id="yx" value="1">有效配方 <% }
                        else
                            { %> <input type="checkbox" name="yx" id="yx" value="1">有效配方 <% }
                    %>
                </label>
            </div>
        </div>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <span class="navbar-brand">增加配方明细</span>
            </div>
            <a href="javascript:;" class="add-detailed glyphicon glyphicon-plus navbar-right"></a>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr class="tr">
                    <th class="b_title">序号<span class="" style="color: red">*</span></th>
                    <th class="b_title">原料代码<span class="" style="color: red">*</span></th>
                    <th class="b_title">原料名称<span class="" style="color: red">*</span></th>
                    <th class="b_title">标准值<span class="" style="color: red">*</span></th>
                    <th class="b_title">上限<span class="" style="color: red">*</span></th>
                    <th class="b_title">下限<span class="" style="color: red">*</span></th>
                    <th class="b_title">单位</th>
                    <th class="b_title">投料顺序<span class="" style="color: red">*</span></th>
                    <th class="b_title">称零头</th>
                    <th class="b_title">追溯</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <% for(var i = 0; i < pbf_list.length; i++){ %>
                <tr class="bodytr">
                    <td><input type="number" name="plno" class="plno" value="<%= pbf_list[i].fields.plno %>"><span class="tips"></span></td>
                    <td>
                        <input list="data" class="form-control datas" name="datas" value="<%= pbf_list[i].fields.ylid %>" autocomplete="off">
                        <span class="tips"></span>
                        <datalist id="data">
                            <select class="form-control" name="ylid" id="ylid">
                            </select>
                        </datalist>
                    </td>
                    <td>
                        <input list="data_name" class="form-control data_name" name="data_name" value="<%= pbf_list[i].fields.ylname %>" autocomplete="off">
                        <span class="tips"></span>
                        <datalist id="data_name">
                            <select class="form-control" name="ylname" id="ylname">
                            </select>
                        </datalist>
                    </td>
                    <td><input type="text" name="bzgl" class="bzgl" value="<%= pbf_list[i].fields.bzgl %>"><span class="tips"></span></td>
                    <td><input type="text" name="topz" class="topz" value="<%= pbf_list[i].fields.topz %>"><span class="tips"></span></td>
                    <td><input type="text" name="lowz" class="lowz" value="<%= pbf_list[i].fields.lowz %>"><span class="tips"></span></td>
                    <td>
                        <select class="form-control dw" name="dw">
                            <% if (pbf_list[i].fields.dw == '1')
                                { %> <option value="1">kg</option>
                                    <option value="2">g</option> <% }
                            else
                                { %> <option value="2">g</option>
                                    <option value="1">kg</option> <% }
                            %>
                        </select>
                    </td>
                    <td><input type="number" name="jno" class="jno" value="<%= pbf_list[i].fields.jno %>"><span class="tips"></span></td>
                    <td>
                        <% if (pbf_list[i].fields.lt)
                            { %> <input type="checkbox" name="lt" checked="checked" class="lt" value="1"> <% }
                        else
                            { %> <input type="checkbox" name="lt" class="lt" value="1"> <% }
                        %>
                        <input type="hidden" name="hlt" value="1" class="hlt">
                    </td>
                    <td>
                        <% if (pbf_list[i].fields.zs)
                            { %> <input type="checkbox" name="zs" checked="checked" class="zs" value="1"> <% }
                        else
                            { %> <input type="checkbox" name="zs" class="zs" value="1"> <% }
                        %>
                        <input type="hidden" name="hzs" value="1" class="hzs">
                    </td>
                    <td><a href="javascript:;" class="glyphicon glyphicon-remove f_delete"></a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <input type="hidden" name="proof" value="<%- pbbh %>">
        <div class="form-actions well-sm clearfix">
            <a href="/admin/bc_formula/pb/{{ object_id }}/delete/" class="btn btn-danger deletelink col-xs-2 show-xs"><i class="fa fa-trash-o"></i></a>
            <div class="btn-group clearfix show-xs save-group col-xs-10">
                <button type="submit" class="default btn btn-primary col-xs-10" name="_save" data-loading-text="保存中.."><i class="fa fa-save"></i> 保存</button>
                <button type="button" class="more btn btn-primary col-xs-2" data-toggle="collapse" data-target=".nav-collapse.more-btns"><i class="fa fa-ellipsis-vertical"></i></button>
            </div>
            <button type="submit" class="default btn btn-primary hide-xs" name="_save"><i class="fa fa-save"></i> 保存</button>
            <div class="nav-collapse collapse more-btns">
                <input type="submit" class="btn btn-default" value="保存并增加另一个" name="_addanother"  />
                <input type="submit" class="btn btn-default" value="保存并继续编辑" name="_continue" />
            </div>
            <a href="/admin/bc_formula/pb/{{ object_id }}/delete/" class="btn btn-danger deletelink pull-right hide-xs"><i class="fa fa-trash-o"></i> 删除</a>
        </div>
    </script>
</div>
{% endblock %}