
.navbar{
    border: 0;
}
.navbar-default{
    background-color: #FFF;
}
.form-control[readonly]{
    background-color: #fff;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th{
    padding: 0px;
}
.tr th{
    text-align: center;
}
.tbody input{
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 80px;
}
table .scph{
    width: 100px;
}
table .jhrq{
    padding: 4px;
    width: 130px;
}
table .wrsx{
    width: 120px;
}
table .sczt{
    width: 30px;
}
.tips{
    color: red;
}
