
.navbar{
    border: 0;
}
.navbar-default{
    background-color: #FFF;
}
.form-control[readonly]{
    background-color: #fff;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th{
    padding: 0px;
}

.tr th{
    text-align: center;
}
.tbody input{
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 100px;
}
table .scph{
    width: 120px;
}
table .jhrq{
    padding: 4px;
    width: 140px;
}
table .sczt{
    width: 30px;
}
.tips{
    color: red;
}

/* 继承xadmin改写的css*/
select {
    max-width: 400px;
}
.control-label {
    padding: 7px 10px;
    font-weight: bold;
}

/*原料基础表css*/
#piedw{
    text-align:right;
    padding-right: 0px;
}
#zbq{
    text-align:right;
    padding-right: 0px;
}
#goodzbq{
    text-align:right;
    padding-right: 0px;
}
.state{
    position: relative;
    left: 360px;
    top: -26px;
}
.control-label{
    font-size: 16px;
}

