

.navbar{
    border: 0;
}
.navbar-default{
    background-color: #FFF;
}
.form-control[readonly]{
    background-color: #fff;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th{
    padding: 0px;
}
.tips{
    color: red;
}
.tr th{
    text-align: center;
}
.tbody input{
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
}
table .b_title{
    width: 50px;
}
table .plno{
    width: 50px;
}
table .datas{
    width: 200px;
}
table .data_name{
    width: 200px;
}
table .bzgl{
    width: 130px;
}
table .topz{
    width: 130px;
}
table .lowz{
    width: 130px;
}
table .dw{
    width: 65px;
}
table .jno{
    width: 70px;
}
.control-label{
    font-size: 16px;
}
.form-box {
    padding-top: 12px;
}
.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #999999;
}
.panel-info>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #999999;
}
select {
    max-width: 400px;
}
.control-label {
    padding: 7px 10px;
    font-weight: bold;
}

