{% extends 'base.html'%}

{%block head%}
<script src="/static/js/barcodesystem/bc_production/bc_production_add1.js"></script>
<link rel="stylesheet" href="/static/css/production.css">
<script src="/static/js/qrcodejs-master/qrcode.min.js"></script>
    <style>
        .box {
            width: 100px;
            height: 110px;
            border: 1px solid #999;
        }
        #qrcode {
            width: 100px;
            height: 100px;
            margin: 5px auto;
        }
    </style>
{%endblock head%}

{%block body%}
<!--
<div class="box">
    <div id="qrcode">
    </div>
</div>
<input type="text" id="text"> <br>
<input type="button" id="btn" value="生成二维码">
</body>
<script>
    $('#btn').click(function () {
        $('#qrcode').empty();
        var text = $('#text').val();
        var qrcode = new QRCode(document.getElementById('qrcode'), {
            width: 100,
            height: 100
        });
        qrcode.makeCode(text);
    });
</script> -->

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/bc_production/scjhb" id="production" style="color: royalblue">
                <span class="glyphicon glyphicon-chevron-left"></span>返回
            </a>
        </div>
    </div>
</div>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">增加生产计划</span>
        </div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal" method="post" action="/production/production_save" id="form_submit">
        {%csrf_token%}
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">生产批号<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="scph" id="scph" value="" aria-describedby="inputSuccess2Status" autocomplete="off">
                <span class="tips"></span>
            </div>
            <label class="col-sm-2 control-label">生产日期<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="scrq" id="scrq" value="2018-07-23">
                <span class="tips"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品编号<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <select class="form-control" name="cpid" id="cpid">
                </select>
            </div>
            <label class="col-sm-2 control-label">产品名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpname" id="cpname" value="" readonly>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">配方编号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="pbbh" id="pbbh" readonly>
            </div>
            <label class="col-sm-2 control-label">配方名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="pbname" id="pbname" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">生产数量<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="sl" id="sl">
                <span class="tips"></span>
            </div>
            <label class="col-sm-2 control-label">批次数</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="cs" id="cs">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">包装规格</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="bzgg" id="bzgg">
            </div>
            <label class="col-sm-2 control-label">单位</label>
            <div class="col-sm-4">
                <select class="form-control" name="dw" id="dw">
                    <option value="kg">kg</option>
                    <option value="g">g</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">班次</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="bc" id="bc">
            </div>
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="bz" id="bz">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">下单人</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="xdr" id="xdr" value="{{user_name}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <label class="control-label">
                    <input type="checkbox" name="zt" checked="checked" value="1" id="zt"> 启用
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="提交">
    </form>
</div>

<div class="container">
    <form class="form-horizontal" method="post" action="/production/file" enctype="multipart/form-data" id="form_file">
        <input type="file" name="files" id="files">
        <span class="err"></span>
        <input type="submit" value="上传">
    </form>
</div>
<script>
    $('#form_file').submit(function () {
        var file_list = $('#files').val().split('\\'); //['C:', 'fakepath', '成品追溯方案V1.docx']
        var file_dict = document.getElementById('files').files[0]; //{name: "成品追溯方案V1.docx", lastModified: 1535081198501, lastModifiedDate: Fri Aug 24 2018 11:26:38 GMT+0800 (中国标准时间), webkitRelativePath: "", size: 885819}
        var file_name = file_list[file_list.length-1]; // '成品追溯方案V1.docx'
        var file_path = $('#files').val().toLowerCase().split('.');// ["c:\fakepath\成品追溯方案v1", "docx"]
        var file_type = file_path[file_path.length-1];// 'docx'
        var file_size = file_dict.size;// 885819 实际等于865KB  1KB约等于1024字节
        console.log(file_size);
        console.log(file_dict);
        console.log(file_path);
        if(file_type != "docx" && file_type != "doc"){
            $('#files').next().text('文件格式不符合要求').show();
        }else if(file_dict.size > 5300000){
            $('#files').next().text('请上传不超过5M的文件').show();
        }else {
            $('#files').next().hide();
        };
        return false;
    });
</script>
{%endblock body%}