{% extends 'base.html'%}

{%block head%}
<script src="/static/js/barcodesystem/bc_production.js"></script>
<link rel="stylesheet" href="/static/css/production.css">
{%endblock head%}

{%block body%}
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/bc_production/scjhb" id="production" style="color: royalblue">
                <span class="glyphicon glyphicon-chevron-left"></span>返回
            </a>
        </div>
    </div>
</div>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">增加生产计划</span>
        </div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal" method="post" action="/production/production_add" id="form_submit">
        {%csrf_token%}
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">计划单号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="spl" id="spl" aria-describedby="inputSuccess2Status">
            </div>
            <label class="col-sm-1 control-label">日期</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="rq" id="rq">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品编号</label>
            <div class="col-sm-4">
                <select class="form-control" name="cpid" id="cpid">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <label class="col-sm-1 control-label">数量</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="sl" id="sl">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">批次数</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="cs" id="cs">
            </div>
            <label class="col-sm-1 control-label">单位</label>
            <div class="col-sm-4">
                <select class="form-control" name="dw" id="dw">
                    <option>kg</option>
                    <option>g</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">检验报告</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="jybg" id="jybg" placeholder="">
            </div>
            <label class="col-sm-1 control-label">班次</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="bc" id="bc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="bz" id="bz">
            </div>
            <div class="col-sm-offset-1 col-sm-4">
                <label class="control-label">
                    <input type="checkbox" name="zt" checked="checked" value="1"> 启用状态
                </label>
            </div>
        </div>

        <div class="navbar navbar-default">
            <div class="navbar-header">
                <span class="navbar-brand">增加生产计划</span>
            </div>
            <a href="javascript:;" class="add-detailed glyphicon glyphicon-plus navbar-right"></a>
        </div>
        <table class="table table-condensed detailed-list">
            <thead>
                <tr>
                    <th>生产批号</th>
                    <th>生产单号</th>
                    <th>计划日期</th>
                    <th>生产顺序</th>
                    <th>产品编号</th>
                    <th>产品名称</th>
                    <th>配方编号</th>
                    <th>配方名称</th>
                    <th>任务次数</th>
                    <th>数量(kg)</th>
                    <th>生产线号</th>
                    <th>备注</th>
                    <th>班次</th>
                    <th>防交叉污染顺序</th>
                    <th>下单人</th>
                    <th>启用状态</th>
                    <th>删除</th>
                </tr>
            </thead>

        </table>
    </form>
</div>



{%endblock body%}
