<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            var user_name = $('#user_name').val();
            var scjhb_bh = $('#scjhb_bh').val();
            console.log(user_name);
            console.log(scjhb_bh);
            if (user_name){
                location.href = '/production/add_production?user_name='+user_name;
            };
            if (scjhb_bh){
                location.href = '/production/update_production?scjhb_bh='+scjhb_bh+'&user_name='+user_name;
            };
        });
    </script>
</head>
<body>
<input type="hidden" id="scjhb_bh" value="{{object_id}}"> <!--修改生产计划，获取生产计划批号-->
<input type="hidden" id="user_name" value="{{user.username}}"> <!-- 获取操作用户名字-->
</body>
</html>