<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            $('#b').css('color','red');
            $('#a').click(function () {
                $.get('/rmaterial/query_rmaterial1', function (data) {
                    $.each(JSON.parse(data.stockinfo_list) ,function (index, item) {
                        $('#a').append('<option value='+item.pk+'>'+item.fields.stockname+'</option>');
                    });
                });
            });
        });

    </script>
</head>
<body>
<h1 id="b">nihao</h1>
<a href="/admin/">后台</a>
<form method="post" >
    {% csrf_token %}
    <select id="a">

    </select>
</form>
</body>
</html>