{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}
{% load crispy_forms_tags %}
{% block extrastyle %}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/barcodesystem/bc_rmaterial/gys_add.js"></script>
    <link rel="stylesheet" href="/static/css/production.css">
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block nav_title %}{% if model_icon %}<i class="{{model_icon}}"><sub class="fa fa-{% if add%}plus{%else%}pencil{%endif%}"></sub></i> {% endif %}
{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" method="post" action="{% url 'rmaterial:save_gys' %}" id="form_submit">
            {%csrf_token%}
            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">供应商代码<span class="" style="color: red">*</span></label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="gyscode" id="gyscode" value="" aria-describedby="inputSuccess2Status">
                    <span class="tips"></span>
                </div>
                <label class="col-sm-2 control-label">供应商名称<span class="asteriskField" style="color: red">*</span></label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="gysname" id="gysname" value="">
                    <span class="tips"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">地址</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="addr" id="addr" value="">
                </div>
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="tel" id="tel" value="">
                    <span class="tips"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">传真</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="fax" id="fax" value="">
                </div>
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="emai" id="emai">
                    <span class="tips"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">网址</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="web" id="web">
                    <span class="tips"></span>
                </div>
                <label class="col-sm-2 control-label">营业执照编号</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="yyzzbh" id="yyzzbh">
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">人员</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="men" id="men">
                </div>
                <label class="col-sm-2 control-label">生产地址</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="scdz" id="scdz">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-4 form-box">
                    <input type="text" class="form-control" name="memo" id="memo">
                </div>
            </div>
            <div class="form-actions well-sm clearfix">
                <div class="btn-group clearfix show-xs save-group col-xs-12">
                    <button type="submit" class="default btn btn-primary col-xs-10" name="_save" data-loading-text="保存中.."><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="more btn btn-primary col-xs-2" data-toggle="collapse" data-target=".nav-collapse.more-btns"><i class="fa fa-ellipsis-vertical"></i></button>
                </div>
                <button type="submit" class="default btn btn-primary hide-xs" name="_save"><i class="fa fa-save"></i> 保存</button>
                <div class="nav-collapse collapse more-btns">
                    <input type="submit" class="btn btn-default" value="保存并增加另一个" name="_addanother"  />
                    <input type="submit" class="btn btn-default" value="保存并继续编辑" name="_continue" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
