<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>追溯</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/Quality_traceability.css">
    <style>
        #if_name{
            display: block;
        }
        #form_submit{
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#" id="show">我要反馈</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row col-md-offset-0">
        <div class="col-md-12 div_title">产品名称：<span class="span_data">{{ cpmc }}</span></div>
    </div>
    <div class="row col-md-offset-0">
        <div class="col-md-12 div_title">生产日期：<span class="span_data">{{ cpmc }}</span></div>
    </div>
    <div class="row col-md-offset-0">
        <div class="col-md-12 div_title">生产批次：<span class="span_data"></span></div>
    </div>
    <iframe id="if_name" marginwidth=0 marginheight=0 width=100% height="500" src="/static/{{ ff }}" frameborder=0 scrolling="no"></iframe>
    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data" id="form_submit">
        {%csrf_token%}
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">姓名<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpid" id="cpid" value="{{cpid}}" aria-describedby="inputSuccess2Status">
                <span class="tips"></span>
            </div>

            <label class="col-sm-2 control-label">联系方式<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpmc" id="cpmc" value="{{cpmc}}">
                <span class="tips"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">电子邮箱<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpid" id="cpid" value="{{cpid}}" aria-describedby="inputSuccess2Status">
                <span class="tips"></span>
            </div>

            <label class="col-sm-2 control-label">反馈意见<span class="glyphicon glyphicon-asterisk" style="color: red"></span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpmc" id="cpmc" value="{{cpmc}}">
                <span class="tips"></span>
            </div>
        </div>
    </form>
</div>
<!--
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#">我要反馈</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>-->
<script>
    $(function () {
        $('#show').click(function () {
            var a = $('#form_submit').css('display');
            $('#form_submit').show();
        });
    });
</script>
</body>
</html>